/*------------- google fonts -------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*------------- all reset -------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------common style -------------*/
body {
  font-family: 'Poppins', sans-serif;
}

/**************** header style ****************/
header {
  width: 100%;
  background: #2d25a0;
}
.header-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.header-container {
  padding: 5vw 7vw;
}
.title {
  /* font-size: 5vw; */
  font-size: clamp(2em, 5vw, 7vw);
  font-weight: bold;
  color: #ffffff;
}

.button {
  background: #e02c6d;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.button-icon {
  margin-left: 5px;
}

.header-image {
  width: 100%;
}

/* *****************
    header animation
 ******************/
.header-image:hover {
  transform: translate(-50px, -50px);
  transition: transform 2s ease-in-out;
}

/****************** players style ******************/
main {
  background-color: #ffffff;
}
.top-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 27px;
}
.player {
  width: 330px;

  box-shadow: 5px 5px 35px #e0d4d4;
}
.player-in {
  margin: 15px 15px 30px 15px;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player-title {
  font-weight: bold;
  font-size: 28px;
  color: #18191f;
}
.player-discription {
  color: #18191f;
  color: #6c6c6c;
}

/********** live score style **********/
.live-score {
  margin-top: 30px;
}
.section-title {
  text-align: center;
  font-size: 28px;
}
.all-match {
  margin: 10px 139px;
}
.teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.team {
  margin: 5px 10px;
  border: 1px solid rgb(209, 203, 203);
  text-align: center;
}
.team-name {
  font-size: 19px;
}

/******************* footer *******************/
.footer-main {
  text-align: center;
  margin: 100px 0 50px 0;
}
.footer-image {
  width: 50%;
}
.fab {
  padding: 10px;
  height: 37px;
  width: 37px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  color: #969bab;
  background: #e7e7e8;
  margin: 10px 5px;
}

.footer-text {
  font-size: 18px;
  margin-top: 20px;
}

/***************** media query *****************/

/*************** For mobile ***************/
@media only screen and (max-width: 688px) {
  .players {
    grid-template-columns: 1fr;
  }
  /* .header-container {
    padding: 5px 30px;
  } */
  .header-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-image-container {
    margin-left: 0;
    margin-top: 3em;
  }

  .teams {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-image {
    width: 60%;
  }
}

/*************** For tablet***************/
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 27px;
  }
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-image {
    width: 70%;
  }
}
